/* Google fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    background: #DEE2E6;
}
/* profile container */
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    padding: 25px; 
    position: relative;
}
.profile-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    background-color: #FB6F92;
    border-radius: 24px 24px 0 0;
}

.profile-image {
    /* position: absolute;
    top: 100px; */
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #FB6F92;
    padding: 3px;
    margin-bottom: 10px;
}
.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #FFE5EC;
}

/* Text area */
.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-area .name{
    font-size: 22px;
    font-weight: 500;
}
.text-area .job{
    font-size: 15px;
    font-weight: 400;
}

/* Social icons */
.social-icons {
    display: flex;
    align-items: center;
}
.social-icons a {
    text-decoration: none;
    margin: 0 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 15px;
}
.social-icons a:hover{
    transform: scale(1.1);
}
/* facbook */
.social-icons a.icon-fb{
    background-color: #3b5998;
    color: #FFFFFF;
}
.social-icons a.icon-tw{
    background-color: #26a7de ;
    color: #FFFFFF;
}
.social-icons a.icon-inst{
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    color: #FFFFFF;
}
.social-icons a.icon-git{
    background-color: black;
    color: #FFFFFF;
}

/* Buttons  */
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.buttons .button {
    background-color: black;
    padding: 8px 24px;
    margin: 0 10px;
    border-radius: 24px;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease;
}
.button:hover{
    background-color: #495057;
    color: #FFFFFF;
}

/* notifications */
.notifications{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
}
.data {
    display: flex;
    align-items: center;
    color: #8D99AE;
    padding: 0 20px;
    border-right: 2px solid #FB6F92;
    justify-content: center;
}
.data:last-child{
    border-right: none;
}
.data i {
    font-size: 18px;
    margin-right: 6px;
}